# {{ ansible_managed }}

options {
  directory "{{ isc_bind_server_confpath }}";
  dump-file "{{ isc_bind_server_confpath }}/cache_dump.db";
  statistics-file "{{ isc_bind_server_confpath }}/named_stats.txt";
};

controls {
  inet 127.0.0.1 allow {
    localhost;
  } keys {
    {{ isc_bind_server_rndc_name }};
  };
};

include "{{ isc_bind_server_rndc_path }}";

{% if foreman_proxy_dhcp_subnets is defined and foreman_proxy_dhcp_subnets != None %}
{% for net in foreman_proxy_dhcp_subnets | map(attribute='network') | map('regex_replace','^([0-9]+\.[0-9]+\.[0-9]+).*$','\\1') | unique | list %}

zone "{{ ( net | ipaddr('revdns') ).split('.')[1:] | join('.') }}" IN {
  type master;
  file "{{ isc_bind_server_confpath }}/{{ ( net | ipaddr('revdns') ).split('.')[1:] | join('.') }}db";
  update-policy {
    grant {{ isc_bind_server_rndc_name }} zonesub ANY;
  };
};

{% endfor %}
{% endif %}

{% if isc_bind_server_subnets is defined and isc_bind_server_subnets != None %}
{% for net in isc_bind_server_subnets | map('regex_replace','^([0-9]+\.[0-9]+\.[0-9]+).*$','\\1') | unique | list %}

zone "{{ ( net | ipaddr('revdns') ).split('.')[1:] | join('.') }}" IN {
  type master;
  file "{{ isc_bind_server_confpath }}/{{ ( net | ipaddr('revdns') ).split('.')[1:] | join('.') }}db";
  update-policy {
    grant {{ isc_bind_server_rndc_name }} zonesub ANY;
  };
};

{% endfor %}
{% endif %}

{% if isc_bind_server_domains is defined and isc_bind_server_domains != None %}
{% for domain in isc_bind_server_domains | unique | list %}

zone "{{ domain }}" IN {
  type master;
  file "{{ isc_bind_server_confpath }}/{{ domain }}.db";
  update-policy {
    grant {{ isc_bind_server_rndc_name }} zonesub ANY;
  };
};

{% endfor %}
{% endif %}

logging {
  category update { update_log; };
  channel update_log {
    file "{{ isc_bind_server_confpath }}/dns-update.log" versions 2 size 20m;
    print-time yes;
    print-category yes;
    print-severity yes;
    severity info;
  };
};

zone "." {
  type forward;
  forwarders {
  {% for ip in isc_bind_server_forwarders %}
    {{ ip }};
  {% endfor %}
  };
};
